<div
	id='data'
	data-profile='{{toJson profile}}'
	data-post-message-url-list='{{toJson postMessageUrlList}}'
	data-access-token='{{accessToken}}'
	data-refresh-token='{{refreshToken}}'
></div>

<script src='/js/pages/loginSuccess.js'></script>