<div id='profile' data-data='{{toJson profile}}'></div>
<div id='post-message-url-list' data-data='{{toJson postMessageUrlList}}'></div>

<script>
	const accessToken ="{{accessToken}}"; const refreshToken ="{{refreshToken}}";
</script>

<script src='/js/pages/loginSuccess.js'></script>