<div id='profile' data-profile='{{toJson profile}}'></div>

<script>
	const accessToken ="{{accessToken}}"; const refreshToken ="{{refreshToken}}";
</script>

<script src='/js/pages/loginSuccess.js'></script>